{% form_theme form 'Ui/Form/theme.html.twig' %}

<section class="container mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            {{ include('ui/_flashes_message.html.twig') }}

            <div class="card">
                <div class="card-body p-3">
                    <h1 class="h1-responsive display-3 mb-2 text-center font-weight-bold text-dark">
                        Consulter vos réservations
                    </h1>

                    {{ form_start(form) }}
                    <div class="form-row d-md-flex justify-content-md-center">
                        <div class="col-12">
                            <div class="text-dark font-weight-stone-500 mt-2" style="margin-bottom: -20px;">
                                Code de vérification de courrier électronique
                            </div>
                        </div>
                        <div class="col-12">
                            {{ form_row(form.code) }}
                        </div>
                        {{ form_widget(form._token) }}
                        <div class="col-12 text-center mt-2">
                            <button type="submit" class="btn btn-primary z-depth-0">Renseigner</button>
                        </div>
                        <div class="col-12 text-center mt-4">
                            <a href="{{ path('app_booking_search') }}" class="btn btn-outline-primary btn-block px-4 z-depth-0">
                                <i class="fas fa-long-arrow-alt-left mr-1 d-none d-md-inline"></i> Renvoyer le code de vérification
                            </a>
                        </div>
                    </div>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
</section>