<div class="form-row range-bulk">
    <div class="col-12 col-md-4">{{ form_row(form.personalRating) }}</div>
    <div class="col-12 col-md-4">{{ form_row(form.equipmentRating) }}</div>
    <div class="col-12 col-md-4">{{ form_row(form.propertyRating) }}</div>
    <div class="col-12 col-md-4">{{ form_row(form.comfortRating) }}</div>
    <div class="col-12 col-md-4">{{ form_row(form.priceRating) }}</div>
    <div class="col-12 col-md-4">{{ form_row(form.locationRating) }}</div>
</div>
<div class="form-row">
    <div class="col-12 col-md-5">{{ form_row(form.title) }}</div>
    <div class="col-12 col-md-7">
        <div class="md-form md-outline">
            {{ form_widget(form.comment) }}
        </div>
    </div>
</div>


