{% if not app.user %}{{ render(controller('App\\Controller\\ReviewController::check', {'hostel': hostel})) }}{% endif %}

{% if reviews|length %}
    {% set personalRating = app_review_sequence_note(reviews, 1) %}
    {% set equipmentRating = app_review_sequence_note(reviews, 2) %}
    {% set propertyRating = app_review_sequence_note(reviews, 3) %}
    {% set comfortRating = app_review_sequence_note(reviews, 4) %}
    {% set priceRating = app_review_sequence_note(reviews, 5) %}
    {% set locationRating = app_review_sequence_note(reviews, 6) %}
{% endif %}

<div class="row">
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-body p-3">
                <h3 class="h3-responsive font-weight-bold text-dark mb-2">Avis clients</h3>
                {% if reviews|length > 0 %}
                    <div class="row mb-4">
                        <div class="col-12">
                            <div class="hostel-review">
                                <div class="number">
                                    <span class="d-inline-block font-weight-bold">{{ hostel.averageRating|format_number({fraction_digit: 1}) }}</span>
                                </div>
                                <div class="title font-weight-bold text-primary">{{ app_review_observation(hostel.averageRating) }}</div>
                                <div class="icon d-inline-block px-md-1"><i class="fas fa-circle"></i></div>
                                <div class="review-nbr text-dark">{{ reviews|length }} expériences vécues</div>
                                <div class="d-md-inline-block mt-2 mt-lg-0">
                                    {% if reviews|length > 3 %}
                                        <a href="" class="btn btn-outline-secondary btn-sm z-depth-0" data-toggle="modal" data-target="#hostel-review-modal">
                                            Afficher tous les avis <i class="far fa-eye ml-1"></i>
                                        </a>
                                    {% endif %}

                                    {% if app.user %}
                                        {% set booking = app_review_booking(hostel) %}
                                        {% if booking %}
                                            <a href="{{ path('app_review_create', {'id': booking.id}) }}" class="btn btn-outline-primary btn-sm z-depth-0 ml-md-2 mt-2 mt-md-0">
                                                Rédiger un avis <i class="far fa-comment ml-1"></i>
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <a href="" class="btn btn-outline-primary btn-sm z-depth-0 ml-md-2 mt-2 mt-md-0"
                                           data-toggle="modal" data-target="#hostel-review-check-modal">
                                            Rédiger un avis <i class="far fa-comment ml-1"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row review-graph">
                        <div class="col-12 col-md-4 mb-4">
                            <div class="title d-flex justify-content-between align-items-center text-dark">
                                <div class="data">Personnel</div>
                                <div class="nbr">{{ personalRating|format_number({fraction_digit: 1}) }}</div>
                            </div>
                            <div class="content"><div class="data" style="width: {{ personalRating * 10 }}%;"></div></div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="title d-flex justify-content-between align-items-center text-dark">
                                <div class="data">Équipements</div>
                                <div class="nbr">{{ equipmentRating|format_number({fraction_digit: 1}) }}</div>
                            </div>
                            <div class="content"><div class="data" style="width: {{ equipmentRating * 10 }}%;"></div></div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="title d-flex justify-content-between align-items-center text-dark">
                                <div class="data">Propreté</div>
                                <div class="nbr">{{ propertyRating|format_number({fraction_digit: 1}) }}</div>
                            </div>
                            <div class="content"><div class="data" style="width: {{ propertyRating * 10 }}%;"></div></div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="title d-flex justify-content-between align-items-center text-dark">
                                <div class="data">Confort</div>
                                <div class="nbr">{{ comfortRating|format_number({fraction_digit: 1}) }}</div>
                            </div>
                            <div class="content"><div class="data" style="width: {{ comfortRating * 10 }}%;"></div></div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="title d-flex justify-content-between align-items-center text-dark">
                                <div class="data">Rapport qualité/prix</div>
                                <div class="nbr">{{ priceRating|format_number({fraction_digit: 1}) }}</div>
                            </div>
                            <div class="content"><div class="data" style="width: {{ priceRating * 10 }}%;"></div></div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="title d-flex justify-content-between align-items-center text-dark">
                                <div class="data">Situation géographique</div>
                                <div class="nbr">{{ locationRating|format_number({fraction_digit: 1}) }}</div>
                            </div>
                            <div class="content"><div class="data" style="width: {{ locationRating * 10 }}%;"></div></div>
                        </div>
                    </div>

                    <div class="row review-list mt-3">
                        {% for review in reviews %}
                            {% if loop.index <= 3 %}
                                <div class="col-12">
                                    <div class="d-flex justify-content-between align-items-center mb-1">
                                        <div class="data d-flex align-items-center">
                                            <div class="icon">
                                                <span class="user-prefix d-inline-block rounded-circle">{{ dataPrefixName(review.firstname) }}</span>
                                            </div>
                                            <div class="info">
                                                <div class="text-dark name">
                                                    {{ review.firstname ~ ' ' ~ review.lastname }}

                                                    {% if review.booking.country %}
                                                        <span class="country badge badge-default z-depth-0">{{ review.booking.country|country_name }}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="time">{{ review.createdAt|format_datetime(pattern="dd MMM yyyy") }}</div>
                                            </div>
                                        </div>
                                        <div class="rating">
                                            <div class="number">
                                                <span class="d-inline-block font-weight-stone-500">{{ review.rating|format_number({fraction_digit: 1}) }}</span>
                                            </div>
                                            <div class="title font-weight-stone-500 text-primary">{{ app_review_observation(review.rating) }}</div>
                                        </div>
                                    </div>
                                    <div class="content">{{ review.comment|raw }}</div>
                                    <hr>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="row review-footer">
                        <div class="col-12 text-center">
                            {% if reviews|length > 3 %}
                                <a href="" class="btn btn-outline-secondary btn-sm z-depth-0" data-toggle="modal" data-target="#hostel-review-modal">
                                    Afficher tous les avis <i class="far fa-eye ml-1"></i>
                                </a>
                            {% endif %}

                            {% if app.user %}
                                {% set booking = app_review_booking(hostel) %}
                                {% if booking %}
                                    <a href="{{ path('app_review_create', {'id': booking.id}) }}" class="btn btn-outline-primary btn-sm z-depth-0 ml-md-2 mt-2 mt-md-0">
                                        Rédiger un avis <i class="far fa-comment ml-1"></i>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="" class="btn btn-outline-primary btn-sm z-depth-0 ml-md-2 mt-2 mt-md-0"
                                   data-toggle="modal" data-target="#hostel-review-check-modal">
                                    Rédiger un avis <i class="far fa-comment ml-1"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="font-weight-stone-500">
                        Cet hébergement n'a aucun avis.
                    </div>
                    <div class="text-center mt-2">
                        {% if app.user %}
                            {% set booking = app_review_booking(hostel) %}
                            {% if booking %}
                                <a href="{{ path('app_review_create', {'id': booking.id}) }}" class="btn btn-outline-primary btn-sm z-depth-0 ml-md-2 mt-2 mt-md-0">
                                    Rédiger un avis <i class="far fa-comment ml-1"></i>
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="" class="btn btn-outline-primary btn-sm z-depth-0 ml-md-2 mt-2 mt-md-0"
                               data-toggle="modal" data-target="#hostel-review-check-modal">
                                Rédiger un avis <i class="far fa-comment ml-1"></i>
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if reviews|length > 3 %}
    <div class="modal fade right" id="hostel-review-modal" tabindex="-1" role="dialog" aria-labelledby="hostel-equipment-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="modal-body pt-1">
                    <div class="row mb-4">
                        <div class="col-12 text-right">
                            <button type="button" class="close mb-2" data-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times text-danger"></i>
                            </button>
                        </div>
                        <div class="col-12">
                            <div class="hostel-review d-flex justify-content-between align-items-center">
                                <div class="">
                                    <div class="number">
                                        <span class="d-inline-block font-weight-bold">{{ hostel.averageRating|format_number({fraction_digit: 1}) }}</span>
                                    </div>
                                    <div class="title font-weight-bold text-primary">{{ app_review_observation(hostel.averageRating) }}</div>
                                    <div class="icon d-inline-block px-1"><i class="fas fa-circle"></i></div>
                                    <div class="review-nbr text-dark">{{ reviews|length }} expériences vécues</div>
                                </div>
                                <div class="d-inline-block">
                                    {% if app.user %}
                                        {% set booking = app_review_booking(hostel) %}
                                        {% if booking %}
                                            <a href="{{ path('app_review_create', {'id': booking.id}) }}" class="btn btn-outline-primary btn-sm z-depth-0 ml-md-2 mt-2 mt-md-0">
                                                Rédiger un avis <i class="far fa-comment ml-1"></i>
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <a href="" class="btn btn-outline-primary btn-sm z-depth-0 ml-md-2 mt-2 mt-md-0"
                                           data-toggle="modal" data-target="#hostel-review-check-modal">
                                            Rédiger un avis <i class="far fa-comment ml-1"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row review-graph">
                        <div class="col-12 col-md-4 mb-4">
                            <div class="title d-flex justify-content-between align-items-center text-dark">
                                <div class="data">Personnel</div>
                                <div class="nbr">{{ personalRating|format_number({fraction_digit: 1}) }}</div>
                            </div>
                            <div class="content"><div class="data" style="width: {{ personalRating * 10 }}%;"></div></div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="title d-flex justify-content-between align-items-center text-dark">
                                <div class="data">Équipements</div>
                                <div class="nbr">{{ equipmentRating|format_number({fraction_digit: 1}) }}</div>
                            </div>
                            <div class="content"><div class="data" style="width: {{ equipmentRating * 10 }}%;"></div></div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="title d-flex justify-content-between align-items-center text-dark">
                                <div class="data">Propreté</div>
                                <div class="nbr">{{ propertyRating|format_number({fraction_digit: 1}) }}</div>
                            </div>
                            <div class="content"><div class="data" style="width: {{ propertyRating * 10 }}%;"></div></div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="title d-flex justify-content-between align-items-center text-dark">
                                <div class="data">Confort</div>
                                <div class="nbr">{{ comfortRating|format_number({fraction_digit: 1}) }}</div>
                            </div>
                            <div class="content"><div class="data" style="width: {{ comfortRating * 10 }}%;"></div></div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="title d-flex justify-content-between align-items-center text-dark">
                                <div class="data">Rapport qualité/prix</div>
                                <div class="nbr">{{ priceRating|format_number({fraction_digit: 1}) }}</div>
                            </div>
                            <div class="content"><div class="data" style="width: {{ priceRating * 10 }}%;"></div></div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="title d-flex justify-content-between align-items-center text-dark">
                                <div class="data">Situation géographique</div>
                                <div class="nbr">{{ locationRating|format_number({fraction_digit: 1}) }}</div>
                            </div>
                            <div class="content"><div class="data" style="width: {{ locationRating * 10 }}%;"></div></div>
                        </div>
                    </div>
                    <div class="row review-list my-3">
                        {% for review in reviews %}
                            <div class="col-12">
                                <div class="d-flex justify-content-between align-items-center mb-1">
                                    <div class="data d-flex align-items-center">
                                        <div class="icon">
                                            <span class="user-prefix d-inline-block rounded-circle">{{ dataPrefixName(review.firstname) }}</span>
                                        </div>
                                        <div class="info">
                                            <div class="text-dark name">
                                                {{ review.firstname ~ ' ' ~ review.lastname }}

                                                {% if review.booking.country %}
                                                    <span class="country badge badge-default z-depth-0">{{ review.booking.country|country_name }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="time">{{ review.createdAt|format_datetime(pattern="dd MMM yyyy") }}</div>
                                        </div>
                                    </div>
                                    <div class="rating">
                                        <div class="number">
                                            <span class="d-inline-block font-weight-stone-500">{{ review.rating|format_number({fraction_digit: 1}) }}</span>
                                        </div>
                                        <div class="title font-weight-stone-500 text-primary">{{ app_review_observation(review.rating) }}</div>
                                    </div>
                                </div>
                                <div class="content">{{ review.comment|raw }}</div>
                                <hr>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
