<section class="container my-3 my-md-5 pt-5">
    <div class="row mb-5">
        <div class="col-12">
            <div class="card">
                <div class="card-body py-3">
                    <h3 class="h3-responsive font-weight-stone-500 text-dark mb-4">
                        <i class="fas fa-hotel text-primary d-none d-lg-inline"></i> 1. Créer un établissement, des hébergements, des tarifs et des équipements
                    </h3>
                    <h3 class="h3-responsive font-weight-stone-500 text-dark mb-0">
                        <i class="fas fa-ticket-alt text-primary d-none d-lg-inline"></i> 2. Commencez à accepter les réservations directes
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 text-center">
            <h1 class="h1-responsive font-weight-bold text-dark">Pourquoi héberger chez nous ?</h1>
            <p>Rendons le monde plus agréable pour les voyageurs !</p>
            <p class="font-weight-stone-500">
                Des millions de propriétaires recherchent une plate-forme où ils ont la liberté de
                créer des hébergements, des tarifs et des équipements pour leurs clients. Nos voyageurs
                recherchent un logement idéal et vous pouvez commercialiser votre établissement chez nous.
            </p>
        </div>
        <div class="col-12">
            <h4 class="h4-responsive font-weight-stone-600 text-center text-dark mt-2 mb-3">
                Embarquez avec la plus grande société de technologie de voyage en Côte d'Ivoire et
                profitez de nombreux avantages chez nous !
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card mb-4">
                <div class="card-body p-3 text-center">
                    <div><i class="fas fa-users text-primary fa-4x"></i></div>
                    <h3 class="h3-responsive font-weight-bold text-dark my-2">
                        Ensemble, nous formons une excellente équipe
                    </h3>
                    <div>
                        Seule nous pouvons faire peu, ensemble nous pouvons faire beaucoup. Ensemble, nous sommes en mesure
                        de générer de nouvelles idées et de mieux servir nos clients. Nous voulons analyser votre business model
                        et vous proposer les meilleures techniques et conseils pour améliorer votre rentabilité.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4">
                <div class="card-body p-3 text-center">
                    <div><i class="fas fa-bullhorn text-primary fa-4x"></i></div>
                    <h3 class="h3-responsive font-weight-bold text-dark my-2">
                        Vendez votre hôtel chez nous
                    </h3>
                    <div>
                        Déploiez suffisamment d'opportunités de croissance et de reconnaissance avec nous.
                        Notre travail principal est de promouvoir votre hôtel et en nous choisissant, vous
                        obtiendrez un meilleur déc, ce qui signifie plus de revenus, plus de réservations et
                        la confiance de nos voyageurs.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4">
                <div class="card-body p-3 text-center">
                    <div><i class="fas fa-credit-card text-primary fa-4x"></i></div>
                    <h3 class="h3-responsive font-weight-bold text-dark my-2">
                        Procédure de paiement sans problème
                    </h3>
                    <div>
                        Il est très facile d'effectuer des paiements avec nous. Une fois que la réservation
                        du client est confirmée, vous pouvez aller dans la section « Paiement » de votre
                        « Tableau de bord »  pour voir vos paiements actifs. Notre équipe financière vous
                        vire vos revenus une fois que vos conditions d'annulation le permettent.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4">
                <div class="card-body p-3 text-center">
                    <div><i class="fas fa-bell text-primary fa-4x"></i></div>
                    <h3 class="h3-responsive font-weight-bold text-dark my-2">
                        Soyez au courant de toutes les mises à jour.
                    </h3>
                    <div>
                        Nous croyons en la transparence et la responsabilité et ainsi, nous tenons nos hôtes
                        au courant. Nous respectons strictement les termes et conditions et informons les
                        changements à notre propriétaire via différentes plateformes.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4">
                <div class="card-body p-3 text-center">
                    <div><i class="fas fa-comment text-primary fa-4x"></i></div>
                    <h3 class="h3-responsive font-weight-bold text-dark my-2">
                        Interagis avec ton client.
                    </h3>
                    <div>
                        Nous vous donnons l'occasion d'interagir avec votre client avant de l'enregistrer.
                        Ainsi, vous pouvez améliorer votre relation client et améliorer vos services après
                        avoir pris connaissance de leurs attentes.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4">
                <div class="card-body p-3 text-center">
                    <div><i class="fas fa-clock text-primary fa-4x"></i></div>
                    <h3 class="h3-responsive font-weight-bold text-dark my-2">
                        Gérer les problèmes
                    </h3>
                    <div>
                        Nous proposons un support 24h/24 et 7j/7 à nos partenaires d'hébergement et
                        répondre à tous vos problèmes reste notre principale préoccupation. Nos experts
                        reviennent et résolvent votre problème en peu de temps.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="h1-responsive font-weight-bold text-dark my-4">
                Questions fréquemment posées
            </h1>
        </div>
        <div class="col-12">
            <div class="accordion" id="accordionFAQ">
                <div class="card">
                    <div class="card-body py-3">
                        <div id="headingOne">
                            <div class="h4-responsive font-weight-stone-600 text-dark"
                                 data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                 aria-controls="collapseOne" style="cursor:pointer;">
                                1. Qui peut devenir partenaire ?
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse my-2" aria-labelledby="headingOne"
                             data-parent="#accordionFAQ">
                            Si vous êtes propriétaire d'un hôtel, d'une villa, d'un motel, d'un appart-hôtel,
                            d'un appartement ou residence privée, d'une maison de vacances ou de toute installation
                            pour accueillir des invités, vous pouvez devenir partenaire.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body py-3">
                        <div id="headingTwo">
                            <div class="h4-responsive font-weight-stone-600 text-dark"
                                 data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                 aria-controls="collapseTwo" style="cursor:pointer;">
                                2. Comment puis-je créer mon établissement ?
                            </div>
                        </div>
                        <div id="collapseTwo" class="collapse my-2" aria-labelledby="headingTwo"
                             data-parent="#accordionFAQ" >
                            Terminez la création de votre compte partenaire en seulement 10 minutes.
                            Voici quelques étapes simples:
                            <ul>
                                <li>
                                    Créez un compte partenaire.
                                    <a href="{{ path('app_partner_create') }}" class="link font-weight-stone-500">S'inscrire maintenant</a>
                                </li>
                                <li>
                                    Notre équipe vous répondra dans quelques instants et vous pourrez ensuite vous
                                    <a href="{{ path('app_login') }}" class="link font-weight-stone-500">Connecter</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body py-3">
                        <div id="headingThree">
                            <div class="h4-responsive font-weight-stone-600 text-dark"
                                 data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                                 aria-controls="collapseThree" style="cursor:pointer;">
                                3. Que se passe-t-il une fois que j'ai des réservations ?
                            </div>
                        </div>
                        <div id="collapseThree" class="collapse my-2" aria-labelledby="headingThree" data-parent="#accordionFAQ" >
                            Vous recevrez des notifications lors de la réservation et vous pourrez également interagir avec le client.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body py-3">
                        <div id="headingThree">
                            <div class="h4-responsive font-weight-stone-600 text-dark"
                                 data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                                 aria-controls="collapseThree" style="cursor:pointer;">
                                4. Comment un voyageur connaîtra-t-il mon établissement ?
                            </div>
                        </div>
                        <div id="collapseFour" class="collapse my-2" aria-labelledby="headingFour" data-parent="#accordionFAQ" >
                            Votre établissement sera visible sur notre site web et nous ferons la promotion de vos établissements sur
                            différentes plateformes de médias sociaux. Nous garderons votre établissement au premier plan de l'esprit du client.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="h4-responsive font-weight-stone-600 text-center">
                Avez-vous des questions ? Veuillez nous contacter
                <a href="mailto:{{ config.settings.email }}" class="link">{{ config.settings.email }}</a>
                ou <span class="text-dark">{{ config.settings.phone }}</span>.
            </h4>
        </div>
    </div>




</section>

